.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;  
    background-color: rgba(195, 198, 219, 0.135); 
    margin: 5px;
    max-height: 270px;
    backdrop-filter: brightness(0.4);    
}

.container img {
    height: auto;
    width: 100%;  
    aspect-ratio: 1.5/1; /*sirve para la relacion ancho alto*/  
    object-fit: cover; 
}

.container:hover{   
    background-color: rgba(20, 20, 59, 0.49);
    cursor: pointer;       
}

