form{
    width: fit-content +10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(6, 20, 46, 0.746);  
    font-size: larger;  
    font-weight: bolder; 
    height: fit-content;
    border-radius: 74px;
    backdrop-filter: blur(10px);
    padding: 0.5%;
    margin: 1%;
}
form h1{
    margin: 1%;
}
form button{
    margin-top: 1%;
}
.containerForm{
    color:rgb(252, 255, 255);  
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/102484-horizonte_de_la_ciudad_durante_la_noche-1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
    align-items: center;    
}

.p{
    align-items: center;
    color: rgb(255, 13, 13);
    grid-column:center;
    margin: 1%;
    font-size: large;
}

.containerFlags {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(6,1fr);
    gap: 1%;
    border: 2px solid;
    max-width: 45vw;       
    max-height: 30vh;    
    overflow: auto;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2%;   
}

.flags{
   position: relative; 
   max-width: 200px;   
}

.flags img {    
    height: auto;
    width: 100%;  
    aspect-ratio: 1.5/1; /*sirve para la relacion ancho alto*/    
}

.buttonX{
    position:absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #0908087d;
    color: rgb(242, 234, 234);
    font-size: 1vw;
    padding: 0.6vh 1vh;  
    margin: 0.4vh; 
    border: rgb(101, 146, 174) solid 0.4px;  
}

.buttonX:hover {
    color: red;
    filter:brightness(1);
    transform: scale(1.2);
}