.container {
    display: flex;  
    flex-direction: column;  
    width: 100vw;
    height: 70vh;    
    align-items: center;    
}

.cards {
    display: grid;    
    grid-template-columns: repeat(5, 1fr);  
    margin: 2%;      
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 2%;
}
