.container {
    display: flex;  
    flex-direction: row;  
    width: 100vw;
    height: 95vh;    
    align-items: center;  
    font-size: larger;  
    font-weight: bolder;
}

.cards {
    display: grid;    
    grid-template-columns: repeat(5, 1fr);  
    margin: 2%;  
    height: -webkit-fill-available;    
}

.buttons{
    grid-column: 3/4;
}
.buttons button{
    margin: 5%;
}
.buttons button:hover{
    background-color: #535bf2; 
    filter:brightness(1);
    transform: scale(1.1);   
}
.loading{
    background-image: url('../../assets/Rotating-globe.gif');
    width:100px ;
}

.filtersOrders, .filters, .order{
    display: flex;
    flex-direction: column;
}

.filtersOrders{
    background-color: rgb(43 71 161 / 77%);;
    height: -webkit-fill-available;
    width: fit-content;
    padding: 0.5vw;
}

.filters, .order{
    margin-top: 5vh;
    border-top: solid 2px;           
}

.filters label, .order label, .filters select, .order select{
    margin-bottom: 7%;
    margin-top: 7%;
}