.container {
    display: flex;  
    flex-direction: row;  
    width: 100vw;
    height: 95vh;    
    align-items: center;  
    font-size: larger;  
    font-weight: bolder;
    align-items: flex-start;
    background-image: url('../../assets/QS2843.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:rgb(252, 255, 255);  
    position: absolute;  
}

.cards {    
    display: grid;    
    grid-template-columns: repeat(5, 1fr);  
    margin: 2%;  
    height: -webkit-fill-available;         
}

.buttons{
    grid-column: 3/4;
}
.buttons button{
    margin: 5%;
}
.buttons button:hover{
    background-color: #535bf2; 
    filter:brightness(1);
    transform: scale(1.1);   
}
.loading{
    background-image: url('../../assets/Rotating-globe.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100px; 
    height: 100px;
    top: 10%;
    left: 50%;
    opacity: 0.9;
    border-radius: 50%; 
    position: absolute;   
}
.filtersOrders, .filters, .order{
    display: flex;
    flex-direction: column;
    align-items: center
}

.filtersOrders{
    background-color: rgb(43 71 161 / 77%);;
    height: -webkit-fill-available;    
    padding: 0.5vw;
    border-top: solid 2px;
    width: 30vh;
}

.filters, .order{
    margin-top: 5vh;
    border-top: solid 2px;
    width: -webkit-fill-available;           
}

.filters label, .order label{    
    margin-top: 7%;
}

.filters select, .order select{
    margin-bottom: 7%;    
}

.buttonClear{
    margin-top: 15%;
}

.divError{
    position: absolute;
    left: 43%;
    top:30%;
    background-color: rgba(161, 68, 68, 0.77);;
    width: fit-content;
    backdrop-filter: blur(10px);  
    padding: 1%; 
    border-radius: 30px;
}